VITE_SUPABASE_URL=https://TU-PROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=TU_ANON_KEY_PUBLICA
VITE_VAPID_PUBLIC_KEY=TU_VAPID_PUBLIC_KEY
VITE_GOOGLE_CLIENT_ID=TU_CLIENT_ID.apps.googleusercontent.com
VITE_GOOGLE_API_KEY=TU_API_KEY
